.center-content {
    position: relative;
    top: 10px;
}
.boxed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panelzone > .panel-header {
    padding: 0px;
}


.panelzone > .panel-header > img {
    width: 100%;
    height: 100%;
}